package ${mainPackage}.proxy;

import net.minecraftforge.fml.common.event.FMLInitializationEvent;
import net.minecraftforge.fml.common.event.FMLPostInitializationEvent;
import net.minecraftforge.fml.common.event.FMLPreInitializationEvent;

${import}

public class CommonProxy {

public void preInit(FMLPreInitializationEvent event){
${preInit}
}


public void init(FMLInitializationEvent event){
${init}
}

public void postInit(FMLPostInitializationEvent event){
${postInit}
}

}